@import "tailwindcss";

@theme {
  --color-main: #0074D9;
  --color-main-hover: #008CFF;
  --color-sub: #FFFACD;
  --color-sub-hover: #fff5b0;
  --color-third: #FFFCE1;
  --color-white: #FFFFFF;
  --color-white-gray: #E0E0E0;
  --color-light-gray: #BDBDBD;
  --color-gray: #9E9E9E;
  --color-dark-gray: #616161;
  --color-black: #333333;
  --color-topup: #03A6FF;
  --color-withdraw: #00CC99;
  --color-deduct: #FF6B6B;
}

/* Tailwind의 @layer 사용 */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .search-input {
    width: 100%;
    /* w-full */
    height: 23px;
    /* h-[23px] */
    margin-bottom: 12px;
    /* mb-3 */
    border: 1px solid var(--color-main);
    /* border-main */
    border-radius: 10px;
    /* rounded-[10px] */
    color: var(--color-black);
    /* text-black */
    font-size: 14px;
    /* text-sm */
    padding-left: 8px;
    /* placeholder:pl-2 */
  }

  @media (min-width: 640px) {

    /* sm */
    .search-input {
      height: 30px;
      /* sm:h-[30px] */
    }
  }

  @media (min-width: 768px) {

    /* md */
    .search-input {
      height: 40px;
      /* md:h-[40px] */
    }
  }

  .range {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 8px;
    width: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;

    &::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid var(--color-white);
      background-color: var(--color-main);
      -webkit-appearance: none;
      pointer-events: auto;
    }
  }

  .create-study-label {
    font-weight: bold;
    margin-right: 8px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }

  .tag-container {
    margin-bottom: 12px;
    display: flex;
    height: 24px;
    width: 100%;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
  }

  .tag {
    /* bg-white-gray min-w-max shrink-0 rounded-[10px] px-[8px] py-[3px] text-sm whitespace-nowrap */
    background-color: var(--color-white-gray);
    min-width: max-content;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 0.875rem;
    white-space: nowrap;
  }

  .textarea {
    border: 1px solid var(--color-white-gray);
    /* light-gray */
    margin-top: 4px;
    /* mt-1 (1 * 4px = 4px) */
    height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 4px 8px;
    /* py-1 (1 * 4px = 4px), px-2 (2 * 4px = 8px) */
    font-size: 0.875rem;
    /* text-sm */
  }
}